body {
    background-color: orangered;
}

.navbar {
    border: 2px solid black;
    color: black;
    background: white;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}

.navbar a {
    padding: 50px;
}

.meny-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;       
    justify-content: center;
}

.meny-element {
    text-align: center;    /* plasserer teksten over bildet sentrert */
    width: 200px;          /* juster etter ønsket størrelse */
}

.meny-element img {
    width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid black;
}



