body {
    background-color: orangered;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid black;
}

.navbar {
    border: 2px solid black;
    color: black;
    background: white;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}

.navbar a {
    padding: 50px;
}

.varer p{
    white-space: nowrap;
}


