<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav class = "navbar">
            <a href="/">Gå til hjemsiden</a>
            <a href="/meny">Gå til menyen</a>
            <a href="/varer">Gå til varer</a>
            <a href="/kontakt">Kontakt oss</a>
            <a href="/ingredienser">Gå til ingredienser</a>
        </nav>
        <div class="akademiet">
            <img src="../static/bilder/Akademiet.png" alt="Logo">
        </div>
        {% block content %} {% endblock %} 
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
    </body>
</html>

