{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h1>Kantine hjemside</h1>
<p>Dette er hjemsiden til kantina ovenfor finner du tilgang til vår meny, våre varer og kontaktinfo.</p>
<p>Det står på menyen hva alags rett som akal bli servert til hvilken dag og hvilken rett det dom er dagens.</p>
<p>Vi beffiner oss i fjerde etasja av bygningen og du kan kontakte oss hvis du ikke finner oss.</p>
<p>Vi vil at du skal ha et herlig måltid og vis vi ikke dukker opp er det sikkert en grunn</p>
<p>Med venlig hilsen oss fra Akademiet</p> 
<br> <br> <br> <br>


{% endblock %}