{% extends "base.html" %}

{% block title %} Ingredienser {% endblock %}

{% block content %}
<!-- skriver ut all tekst i ingridienser -->
<!-- h1 definerer en overskrift og det inni blir teksten -->
<!-- p definerer en paragraf for å skrive ut tekst -->


<h1>Ingredienser</h1>
<p>Hvis det er spesefike ingridienser som du lurer på hva innhold er så må du søke det opp.</p>
<p>Pølse med tilbehør inneholder: Pølse, Pølsebrød og eventuelt ketchup og sennep.</p>
<p>Risgrøt innholder: Grøtris, Melk og eventuelt sukker, kanel og smør.</p>
<p>Pizza inneholder: Mel, Gjær, Vann, Olje, Smør, Ost, Tomat og Pepperoni.</p>
<p>Grønnsaksuppe inneholder: Purre, Gulrot, Brekkbønner og Vann.</p>
<p>Salat inneholder: Tomat, Agurk og Isbergsalt.</p>
<p>Vann inneholder: Vann.</p>
<p>Melk inneholder: Melk.</p>
<p>Rekesmørbrød inneholder: Reker, Brød og Isbergsalat.</p>
<p>Nudler inneholder: Mr le kopp.</p>
<p>Toast inneholder: Brød, Ost og skinke.</p>

<!-- bruker classen meny-container for å style alt inni løkken-->
<!-- for element in bilder3 er en løkke som kjører så mange ganger som elementer i listen bilder3(listen er i app.py) -->
<!-- bruker klassen meny-element for å style tekst over bildene og endre bildene -->
<!-- p printer ut et element i listen igredienser som finnes i app.py -->
<!-- loop.index0 gjør at en variabel lages som øker med 1 for hver gang loopen kjører -->
<!-- img src brukes for å legge inn bilder som er i listen bilder3-->
<!-- sammen lager det flere rekker med bilder som har tekst over -->

<div class="meny-container">
    {% for element in bilder3 %}
        <div class="meny-element">
            <p>{{ igredienser[loop.index0] }}</p>  
            <img src="{{ element }}" alt="matrett">
        </div>
    {% endfor %}
</div> 

{% endblock %}