{% extends "base.html" %}

{% block title %}Varer{% endblock %}

{% block content %}
<h1>Varer</h1>
<h2>Dagens rett</h2>



{% if dag in bilder %}
    <img src="{{ bilder[dag] }}" alt="Matrett for {{ dag }}">
{% endif %}

<br> <br> <br>

<h2>Meny</h2>
{% for element in bilder2 %}
    <p>{{ beskribelse[loop.index0] }}</p>  
{% endfor %}

{% for element in bilder2 %}
    <img src="{{ element }}" alt="matrett">    
{% endfor %}

<h2>Andre varer</h2>
{% for element in igredienser %}
    <p>{{ igredienser[loop.index0] }}</p>  
{% endfor %}

{% endblock %}